/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE/Edge */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 1. Use a more intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margins and paddings */
* {
  margin: 0;
  padding: 0;
}

/* 3. Improve body defaults */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

/* 5. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
